*{
  text-align: center; 
  background-image: url(./components/photo/8b0f2c1ad43fb72f22d72308cee114f0.jpg);
  background-size: contain;
  background-attachment: fixed;
}
.card{
  margin:30px ; 
}
.footer {
 
margin-top: 100px;
}
p {
  font-size:large ;
  color: darkgoldenrod;
}
